
html, body {
      overflow: hidden;
    }

#allBody {
  width: 95%;
  height: 95%;

  min-width: 1060px;
  min-height: 540px;

  max-width: 3180px;
  max-height: 1620px;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;


  z-index: 0;
}

#searchBar {
  width: 70%;
  height: 11vh;

  bottom: -2vh;
  min-height: calc(11*450px/90);
  min-width: 560px;

  float: left;

  position: relative;


}

#graphPanel {
  width: 70%;
  height: 70vh;

  min-height: calc(70*450px/90);
  min-width: 560px;

  float: left;

  position: relative;

  z-index: 0;
  border-radius: 25px;
}

#timelineBar {
  width: 70%;
  height: 10vh;

  min-height: calc(10*450px/90);
  min-width: 560px;

  float: left;

  position: relative;


}

#credits {
  width: 70%;
  height: 5vh;

  position: relative;

  margin-left: 1%;
}


#infoPanel {
  width: 28%;
  height: 94vh;
  top: 3vh;
  left: -1%;


  float: right;

  position: relative;

  overflow: hidden;
  z-index: 0;

  background-color: #f2f2f2;

  border: 0.5px solid lightgray;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

#allInfos {
  width: 92%;
  margin: 0 auto;
}

#infos {
  position: relative;
  background-color: #f2f2f2;
  overflow: scroll;
  height: 80%;
  width: 100%;
}

#graphVis {
  pointer-events:none;
  position: relative;
  background-color: #f2f2f2;
  width: 92%;
  z-index: 0;
  margin: 0 auto;
}


.ui.top.attached{
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0%;
  z-index: -1;
  pointer-events: none;
  border: 0.5px solid lightgray;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: #fff2e6;
}
div.dropDownSet{
  position: absolute;
  top: 0%;
}

#switchPanelDiv{
      position: absolute;
      top: 90%;
}

#infoIconVis{
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 5%;
  z-index: 2;
}


.ui-slider-range { background: #A0A0A0; }
.ui-slider-handle { border-color: #A0A0A0; }


div.inline.filter.ui.mini.input { float:left; width: 18%; margin-left: 1%; margin-top: 2%; }
div.inline.slider { float:left; width: 25%; margin-left: 2%; margin-top: 1%; }

.inlineText {display: inline;}
.clearBoth { clear:both; }

.indented {padding-left: 30pt; padding-right: 30pt;}
.disabled {color: lightgrey;}
.disabledDiv { pointer-events: none; opacity: 0.15;}




.wxtLblStyle {background-color: transparent; border: thin; font-size:small; font-weight: bold;}

.group0Style {
        fill: #cc6666;
        fill-opacity:0;
        stroke-width:2px;
        stroke: #cc6666;
    }

.progress-wrapper {
      background: white;
      width: 100%;
      height: 18px;
      text-align: center;
      position: relative;
      overflow: hidden;
    }

.progress {
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background: #80b1d3;
}

.progress-label {
      position: absolute;
      z-index: 1;
}

.vis-timeline {
      border: none;
      font-size: 12pt;
    }

.vis-time-axis .vis-text.vis-major {

}
